html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.btn-fb span.icon-fb {
  font-weight: 300; }

html,
body, .form p, .form label {
  font-weight: 400; }

.btn-fb span, .r_bg span, .r_line span, .lightbox_outter .main .btn-gift, .lightbox_outter .detail .date {
  font-weight: 600; }

.wrap .main .sub span.bold, .btn-fb, .r_bg, .r_line, header li a, .menuBox a {
  font-weight: 700; }

@font-face {
  font-family: 'icocoke';
  src: url("../fonts/icocoke.eot?pifgn4");
  src: url("../fonts/icocoke.eot?pifgn4#iefix") format("embedded-opentype"), url("../fonts/icocoke.ttf?pifgn4") format("truetype"), url("../fonts/icocoke.woff?pifgn4") format("woff"), url("../fonts/icocoke.svg?pifgn4#icocoke") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icocoke' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-tt_gift_pot:before {
  content: "\e920";
  color: #e0061c; }

.icon-tt_bonus:before {
  content: "\e91f";
  color: #e0061c; }

.icon-add:before {
  content: "\e91e";
  color: #e0061c; }

.icon-tt-confirm:before {
  content: "\e91b";
  color: #e0061c; }

.icon-tt-notice:before {
  content: "\e91c";
  color: #e0061c; }

.icon-tt-oops:before {
  content: "\e91d";
  color: #e0061c; }

.icon-arrow:before {
  content: "\e900";
  color: #e0061c; }

.icon-btn-pot:before {
  content: "\e901";
  color: #e0061c; }

.icon-check .path1:before {
  content: "\e902";
  color: #222222; }

.icon-check .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: white; }

.icon-check .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: white; }

.icon-close:before {
  content: "\e905";
  color: #fff; }

.icon-coke:before {
  content: "\e906";
  color: #e0061c; }

.icon-del:before {
  content: "\e907";
  color: #e0061c; }

.icon-error .path1:before {
  content: "\e908";
  color: #e0061c; }

.icon-error .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: white; }

.icon-error .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: white; }

.icon-fb:before {
  content: "\e90b";
  color: #fff; }

.icon-s5:before {
  content: "\e90c";
  color: #e0061c; }

.icon-tt_check:before {
  content: "\e90d";
  color: #e0061c; }

.icon-tt_fg_pw:before {
  content: "\e90e";
  color: #e0061c; }

.icon-tt_form:before {
  content: "\e90f";
  color: #e0061c; }

.icon-tt_form2:before {
  content: "\e910";
  color: #e0061c; }

.icon-tt_gift:before {
  content: "\e911";
  color: #e0061c; }

.icon-tt_login:before {
  content: "\e912";
  color: #e0061c; }

.icon-tt_number:before {
  content: "\e913";
  color: #e0061c; }

.icon-tt_privacy:before {
  content: "\e914";
  color: #e0061c; }

.icon-tt_record:before {
  content: "\e915";
  color: #e0061c; }

.icon-tt_rs_pw_done:before {
  content: "\e916";
  color: #e0061c; }

.icon-tt_rs_pw:before {
  content: "\e917";
  color: #e0061c; }

.icon-tt_rule:before {
  content: "\e918";
  color: #e0061c; }

.icon-tt_signup:before {
  content: "\e919";
  color: #e0061c; }

.icon-tt_succeed:before {
  content: "\e91a";
  color: #e0061c; }

.inner, html,
body, header li a, .menuBox, .lightbox {
  width: 100%;
  height: 100%; }

.main-delivery p {
  text-align: justify;
  text-justify: inter-ideographic; }

.arrowbox, .menuBox ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.btn-lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.wrap {
  width: 100%;
  text-align: center;
  overflow: hidden;
  font-size: 15px;
  font-size: 1.5rem;
  min-width: 314px; }
  .wrap .main {
    padding-top: 116px;
    width: 82%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 30px; }
    @media only screen and (max-width: 767px) {
      .wrap .main {
        padding-top: 65px; } }
    @media only screen and (max-width: 374px) {
      .wrap .main {
        padding-top: 55px;
        width: 85%; } }
    .wrap .main .tt {
      color: #de051c;
      font-size: 37px;
      font-size: 3.7rem; }
      @media only screen and (max-width: 374px) {
        .wrap .main .tt {
          font-size: 3.2rem; } }
    .wrap .main .sub {
      margin: 10px 0 19px;
      letter-spacing: 1px;
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 1.7; }
      @media only screen and (min-width: 768px) {
        .wrap .main .sub span {
          display: block; } }
      @media only screen and (min-width: 768px) {
        .wrap .main .sub span.bold {
          display: inline-block; } }
    .wrap .main .info {
      font-size: 16px;
      font-size: 1.6rem;
      text-align: center;
      margin: 20px 0 30px; }
      @media only screen and (min-width: 768px) {
        .wrap .main .info {
          font-size: 1.5rem; } }
      @media only screen and (min-width: 768px) {
        .wrap .main .info span {
          display: block; } }

.h100 {
  height: 100%; }

.inner {
  position: relative; }

.break {
  display: block; }
  @media screen and (max-width: 767px) {
    .break {
      display: inline; } }

@media screen and (max-width: 767px) {
  .break_m {
    display: block; } }

.btn-fb {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background: #3B5998;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 10px auto;
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  margin: 0 0 10px; }
  @media only screen and (max-width: 374px) {
    .btn-fb {
      height: 45px;
      line-height: 45px;
      border-radius: 45px; } }
  .btn-fb:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #4c6eb5;
    height: 120%;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1; }
  @media screen and (min-width: 1025px) {
    .btn-fb:hover {
      color: white; }
      .btn-fb:hover:after {
        left: -10%;
        width: 120%; } }
  @media only screen and (max-width: 374px) {
    .btn-fb {
      margin: -10px 0 10px; } }
  .btn-fb span.icon-fb {
    margin-right: 5px;
    display: inline-block; }

.r_bg {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background: #e0061c;
  color: white;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 10px auto;
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box; }
  @media only screen and (max-width: 374px) {
    .r_bg {
      height: 45px;
      line-height: 45px;
      border-radius: 45px; } }
  .r_bg:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f40000;
    height: 120%;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1; }
  @media screen and (min-width: 1025px) {
    .r_bg:hover {
      color: white; }
      .r_bg:hover:after {
        left: -10%;
        width: 120%; } }

.gray_bg {
  background: #d8d8d8; }

.r_line {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background: transparent;
  color: #e0061c;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 10px auto;
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  border: 1px solid #e0061c; }
  @media only screen and (max-width: 374px) {
    .r_line {
      height: 45px;
      line-height: 45px;
      border-radius: 45px; } }
  .r_line:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #e0061c;
    height: 120%;
    left: -10%;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg);
    z-index: -1; }
  @media screen and (min-width: 1025px) {
    .r_line:hover {
      color: white; }
      .r_line:hover:after {
        left: -10%;
        width: 120%; } }

.btn_s {
  width: 48%; }
  .btn_s:first-child {
    margin-right: 2%; }

.memberInfo {
  font-size: 13px;
  font-size: 1.3rem;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 3px; }
  @media screen and (max-width: 930px) {
    .memberInfo {
      margin-right: 10px; } }
  .memberInfo > span {
    display: inline-block;
    margin: 0 5px; }
  .memberInfo a {
    color: #e0061c; }

.pointBox {
  display: inline-block; }
  .pointBox .number {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    font-size: 1.5rem;
    color: #e0061c;
    letter-spacing: 1px; }

.arrowbox {
  width: 90%;
  top: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  pointer-events: none; }
  @media only screen and (max-width: 374px) {
    .arrowbox {
      top: 56%; } }
  .arrowbox a {
    font-size: 23px;
    font-size: 2.3rem;
    display: inline-block;
    pointer-events: auto; }
  .arrowbox .left {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.cir-bg {
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  transition: all .3s ease;
  background: #e0061c;
  border: 12px solid #fad7d7; }

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format("opentype"); }
@-webkit-keyframes ticket {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes ticket {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
.trans_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none; }

.trans_ipad {
  display: none; }

.trans_iphone {
  display: none; }

img {
  margin: auto; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .trans_bg {
    display: block; }

  .trans_ipad {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #df100c; }
    .trans_ipad .trans_center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .trans_ipad .trans_center img {
        width: 50%; }
      .trans_ipad .trans_center p {
        text-align: center;
        font-size: 1.8rem;
        color: #FFF;
        line-height: 1.5; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  .trans_bg {
    display: block; }

  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: #df100c;
    position: absolute;
    background-color: #df100c; }
    .trans_iphone .trans_center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .trans_iphone .trans_center img {
        width: 35%; }
      .trans_iphone .trans_center p {
        text-align: center;
        font-size: 1rem;
        color: #FFF;
        line-height: 2rem;
        padding-top: 1rem; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .trans_bg {
    display: block; }

  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: #df100c;
    position: absolute;
    background-color: #df100c; }
    .trans_iphone .trans_center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .trans_iphone .trans_center img {
        width: 35%; }
      .trans_iphone .trans_center p {
        text-align: center;
        font-size: 1.4rem;
        color: #FFF;
        line-height: 1.5;
        padding-top: 1rem; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .trans_bg {
    display: block; }

  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: #df100c;
    position: absolute;
    background-color: #df100c; }
    .trans_iphone .trans_center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .trans_iphone .trans_center img {
        width: 35%; }
      .trans_iphone .trans_center p {
        text-align: center;
        font-size: 1.2rem;
        color: #FFF;
        line-height: 1.5;
        padding-top: 1.3rem; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .trans_bg {
    display: block; }

  .trans_iphone {
    display: block;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: #df100c;
    position: absolute;
    background-color: #df100c; }
    .trans_iphone .trans_center {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
      .trans_iphone .trans_center img {
        width: 35%; }
      .trans_iphone .trans_center p {
        text-align: center;
        font-size: 1.2rem;
        color: #FFF;
        line-height: 1.5; } }
html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem; }

html,
body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', 'PingFang TC', 'Heiti TC', 'Apple LiGothic Medium', 'Microsoft JhengHei', sans-serif;
  min-width: 314px;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #222222;
  -ms-text-size-adjust: 100%;
  background: #FAF9FA;
  overflow-x: hidden; }

* {
  box-sizing: border-box;
  outline: none; }

*:focus {
  outline: none; }

img {
  width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none;
  behavior: expression(this.onFocus=this.blur());
  display: inline-block;
  /* for IE */ }

ul {
  font-size: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 1px; }

button {
  -webkit-backface-visibility: hidden;
  border: 0;
  background: transparent;
  height: 100%; }

input {
  -webkit-appearance: none; }

header {
  width: 90%;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5; }
  @media screen and (max-width: 767px) {
    header {
      padding: 20px 0; } }
  @media screen and (max-width: 374px) {
    header {
      padding: 15px 0; } }
  header .logo {
    width: 120px;
    display: inline-block; }
    @media screen and (max-width: 767px) {
      header .logo {
        width: 85px; } }
    @media screen and (max-width: 374px) {
      header .logo {
        width: 75px; } }
  header li {
    display: inline-block;
    margin: 0 20px; }
    header li a {
      color: #e0061c;
      font-size: 15px;
      font-size: 1.5rem;
      position: relative;
      transition: all .3s ease; }
      header li a:after {
        content: "";
        transition: all .3s ease;
        width: 100%;
        opacity: 0;
        background: #e0061c;
        height: 45px;
        border-radius: 45px;
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        z-index: -1; }
      header li a:hover, header li a.active {
        color: white; }
        header li a:hover:after, header li a.active:after {
          width: 140%;
          opacity: 1;
          left: -20%; }
  header nav {
    display: inline-block; }
    @media screen and (max-width: 930px) {
      header nav {
        display: none; } }

.menuBox {
  background: #e0061c;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .menuBox {
      display: none; } }
  .menuBox li {
    font-size: 20px;
    font-size: 2rem;
    display: block;
    margin: 20px 0; }
  .menuBox a {
    color: white;
    padding: 10px 0;
    transition: all .2s ease; }
    .menuBox a.active {
      background: white;
      color: #e0061c;
      width: 130%;
      border-radius: 100px;
      margin-left: -15%; }

input,
button,
select,
textarea {
  outline: none; }

*:focus {
  outline: none; }

.form {
  width: 100%;
  color: #4a4a4a; }
  .form p {
    margin-top: -5px;
    font-size: 13px;
    font-size: 1.3rem;
    width: calc(100% - 130px);
    float: right;
    text-align: left;
    margin-bottom: 10px; }
    .form p:after {
      content: '';
      display: block;
      clear: both; }
    @media only screen and (max-width: 767px) {
      .form p {
        width: calc(100% - 70px); } }
    @media only screen and (max-width: 374px) {
      .form p {
        margin-top: -2px; } }
    .form p.warn {
      color: #e0061c;
      margin: 10px 0; }
  .form li {
    display: block;
    font-size: 0;
    margin: 15px 0;
    position: relative;
    text-align: left; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .form li {
        margin: 20px 0; } }
    @media only screen and (max-width: 374px) {
      .form li {
        margin: 10px 0; } }
    .form li:after {
      content: "";
      width: calc(100% - 130px);
      height: 1px;
      background-color: #979797;
      position: absolute;
      right: 0;
      bottom: 0; }
      @media only screen and (max-width: 767px) {
        .form li:after {
          width: calc(100% - 70px); } }
    .form li.warn:after {
      background-color: #e0061c; }
  .form .del_pos {
    position: absolute;
    right: 10px;
    bottom: 15px;
    color: #e0061c;
    cursor: pointer;
    font-size: 10px;
    font-size: 1rem;
    z-index: 2; }
  .form label {
    margin-right: 70px;
    display: inline-block;
    text-align: left;
    width: 60px;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 50px;
    vertical-align: top;
    color: #4a4a4a; }
    @media only screen and (max-width: 767px) {
      .form label {
        margin-right: 10px; } }
    @media only screen and (max-width: 374px) {
      .form label {
        line-height: 45px; } }
  .form input[type=text],
  .form input[type=email],
  .form input[type=tel],
  .form input[type=password] {
    height: 50px;
    width: calc(100% - 130px);
    border: 0;
    text-align: left;
    background: transparent;
    box-shadow: transparent, 0;
    font-size: 14px;
    font-size: 1.4rem;
    color: #4a4a4a;
    display: inline-block;
    -webkit-appearance: none;
    position: relative; }
    @media only screen and (max-width: 767px) {
      .form input[type=text],
      .form input[type=email],
      .form input[type=tel],
      .form input[type=password] {
        width: calc(100% - 70px); } }
    @media only screen and (max-width: 374px) {
      .form input[type=text],
      .form input[type=email],
      .form input[type=tel],
      .form input[type=password] {
        height: 45px; } }
    .form input[type=text].number,
    .form input[type=email].number,
    .form input[type=tel].number,
    .form input[type=password].number {
      width: 100%; }
  .form .robot {
    width: 100%;
    height: 50px;
    background-color: #f9f9f9;
    border-radius: 50px;
    display: block;
    border: solid 1px #979797;
    margin-top: 20px;
    overflow: hidden; }
    @media only screen and (max-width: 374px) {
      .form .robot {
        height: 45px; } }
  .form .checkbox {
    width: 30px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 30px; }
    @media only screen and (max-device-width: 374px) and (orientation: portrait) {
      .form .checkbox {
        width: 30px;
        height: 30px; } }
    .form .checkbox input[type=checkbox] {
      visibility: hidden;
      width: 30px;
      height: 30px; }
      @media only screen and (max-device-width: 374px) and (orientation: portrait) {
        .form .checkbox input[type=checkbox] {
          width: 30px;
          height: 30px; } }
    .form .checkbox label {
      cursor: pointer;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
      left: 0;
      border-radius: 5px;
      border: solid 1px #888888; }
      @media only screen and (max-device-width: 374px) {
        .form .checkbox label {
          width: 30px;
          height: 30px; } }
      .form .checkbox label:after {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
        opacity: 0.1;
        content: '';
        position: absolute;
        width: 13px;
        height: 7px;
        background: transparent;
        top: 6px;
        left: 6px;
        border: 3px solid red;
        border-top: none;
        border-right: none;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
        @media only screen and (max-device-width: 767px) {
          .form .checkbox label:after {
            top: 8px;
            left: 6px; } }
      .form .checkbox label:hover:after {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5; }
  .form .checkbox input[type=checkbox]:checked + label:after {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  .form .check_area {
    text-align: left;
    margin-top: 15px; }
    .form .check_area a {
      display: inline-block;
      text-decoration: underline;
      color: #4a4a4a;
      padding-left: 3px; }
    .form .check_area p {
      width: calc(100% - 50px);
      padding-left: 0;
      vertical-align: middle;
      display: inline-block;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 0; }
      @media only screen and (max-width: 374px) {
        .form .check_area p {
          width: calc(100% - 40px);
          line-height: 30px; } }
  .form .bdBox:after,
  .form .check_area:after,
  .form .robotBox:after {
    height: 0;
    width: 0; }
  .form .selectStyle {
    display: inline-block;
    width: calc(100% - 130px); }
    @media only screen and (max-width: 736px) {
      .form .selectStyle {
        width: 74%; } }
    .form .selectStyle li {
      display: inline-block;
      margin: 0;
      margin-right: 5px;
      font-size: 14px;
      font-size: 1.4rem;
      color: #4a4a4a;
      height: 50px;
      line-height: 50px;
      vertical-align: middle; }
      .form .selectStyle li:after {
        width: 0;
        height: 0; }
      .form .selectStyle li.selectBox {
        width: 23%; }
        @media only screen and (max-width: 413px) {
          .form .selectStyle li.selectBox {
            width: 22%; } }
        @media only screen and (max-width: 374px) {
          .form .selectStyle li.selectBox {
            width: 21%; } }
      .form .selectStyle li select {
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: 0;
        background-color: transparent;
        border-color: transparent;
        position: relative;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding-left: 40px;
        font-size: 14px;
        font-size: 1.4rem;
        color: #888888; }
        @media only screen and (max-width: 767px) {
          .form .selectStyle li select {
            padding-left: 19px; } }
        @media only screen and (max-width: 413px) {
          .form .selectStyle li select {
            padding-left: 14px; } }
        @media only screen and (max-width: 374px) {
          .form .selectStyle li select {
            padding-left: 12px; } }
        .form .selectStyle li select::-ms-expand {
          display: none; }
        .form .selectStyle li select option {
          color: #000;
          vertical-align: middle;
          line-height: 40px;
          border: 0; }
        .form .selectStyle li select.year {
          padding-left: 0; }
  @media screen and (max-width: 736px) {
    .form .selectAdd {
      width: calc(100% - 70px); } }
  .form .selectAdd li {
    margin-right: 0; }
    .form .selectAdd li:after {
      width: 100%;
      height: 1px; }
      @media screen and (max-width: 767px) {
        .form .selectAdd li:after {
          width: 100%;
          height: 1px; } }
    .form .selectAdd li:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8.7px 5px 0 5px;
      border-color: #e0061c transparent transparent transparent;
      position: absolute;
      top: 22px;
      right: 10px; }
      @media only screen and (max-width: 767px) {
        .form .selectAdd li:before {
          border-width: 6.7px 4px 0 4px;
          right: 7px; } }
    .form .selectAdd li select {
      padding-left: 0; }
    .form .selectAdd li.selectBox {
      width: 49%; }
      .form .selectAdd li.selectBox:first-child {
        margin-right: 2%; }

.label-radio {
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 13px;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.radio {
  position: relative;
  margin: 0 10px 0 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 0;
  background: transparent;
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  @media screen and (max-width: 374px) {
    .radio {
      width: 18px;
      height: 18px; } }
  .radio:before {
    transition: all 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    content: "";
    z-index: 1;
    background: #fad7d7;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-sizing: border-box; }
    @media screen and (max-width: 374px) {
      .radio:before {
        width: 9px;
        height: 9px; } }
  .radio:checked:before {
    background: #e0061c;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .radio:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #888888;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    box-sizing: border-box; }
    @media screen and (max-width: 374px) {
      .radio:after {
        width: 18px;
        height: 18px; } }

a.bur {
  cursor: pointer;
  padding: 9px 0 14px;
  width: 20px;
  display: inline-block;
  vertical-align: middle; }
  @media screen and (min-width: 931px) {
    a.bur {
      display: none; } }
  a.bur span {
    position: relative;
    display: block; }
    a.bur span:before, a.bur span:after {
      position: absolute;
      background: #e0061c;
      content: '';
      width: 20px;
      height: 4px;
      transition: all .2s ease-in-out;
      border-radius: 2.5px; }
    a.bur span:before {
      top: -5px; }
    a.bur span:after {
      top: 5px; }

.burBox {
  display: inline-block; }
  .burBox a.active span {
    background: transparent; }
    .burBox a.active span:before {
      -webkit-transform: rotate(45deg) translate(2px, 2px);
      transform: rotate(45deg) translate(2px, 2px);
      background: white; }
    .burBox a.active span:after {
      -webkit-transform: rotate(-45deg) translate(5px, -5px);
      transform: rotate(-45deg) translate(5px, -5px);
      background: white; }

.lightbox {
  background-color: rgba(34, 34, 34, .85);
  position: fixed;
  z-index: 10; }

.lightbox_outter {
  width: 80%;
  max-width: 300px;
  position: relative;
  margin: 40% auto 0; }
  @media only screen and (min-width: 1025px) {
    .lightbox_outter {
      margin-top: 20%; } }
  .lightbox_outter .main {
    width: 100%;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    padding: 40px 10px; }
    .lightbox_outter .main .btnBox {
      font-size: 0;
      width: calc(100% + 20px );
      margin-left: -10px;
      margin-top: 20px; }
    .lightbox_outter .main .btn-gift {
      width: 50%;
      display: inline-block;
      font-size: 16px;
      font-size: 1.6rem;
      color: white;
      background: #e0061c;
      padding: 15px 0; }
  .lightbox_outter h2 {
    font-size: 30px;
    font-size: 3rem;
    position: relative; }
    .lightbox_outter h2:after {
      content: "";
      width: 30px;
      height: 3px;
      background: #fad7d7;
      position: absolute;
      bottom: -15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
  .lightbox_outter p {
    margin-top: 30px;
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 1px; }
  .lightbox_outter .detail {
    text-align: left;
    margin: 30px 10px; }
    .lightbox_outter .detail .date {
      width: 45px;
      height: 45px;
      border-radius: 100%;
      line-height: 45px;
      color: white;
      background: #e0061c;
      text-align: center;
      margin-right: 10px; }
    .lightbox_outter .detail .item {
      width: calc(100% - 55px); }
    .lightbox_outter .detail .code {
      width: 100%;
      color: #888888;
      margin-top: 10px;
      padding-left: 55px;
      display: block; }
    .lightbox_outter .detail li {
      margin-bottom: 30px;
      font-size: 13px;
      font-size: 1.3rem; }
      .lightbox_outter .detail li span {
        vertical-align: middle;
        display: inline-block; }

.btn-lightbox {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #e0061c;
  position: absolute;
  top: -20px;
  right: -20px; }

.lightbox-record {
  overflow: scroll; }
  @media screen and (max-width: 413px) {
    .lightbox-record .lightbox_outter {
      margin-top: 20%; } }

.main-exchange {
  padding-bottom: 0; }
  .main-exchange .txt {
    margin-top: 30px; }
  .main-exchange p {
    margin: 10px 15px;
    letter-spacing: 1px; }
  .main-exchange .red {
    color: #e0061c;
    font-size: 16px;
    font-size: 1.6rem; }
  .main-exchange .plus {
    margin: 0 5px; }

.lightbox_outter .main-exchange, .lightbox_outter .main-delivery {
  padding-top: 20px;
  padding-bottom: 0; }

.main-delivery p {
  margin: 30px 15px 20px; }



/*# sourceMappingURL=style.css.map */