//- only fot ipad
.trans_bg
  .trans_ipad
    .trans_center
      img(src='img/ipad_ok_landscape.png')
      |                 
      p
        | 請將裝置轉至直式
        br
        | 體驗最佳瀏覽方式
  //- only for iphone
  .trans_iphone
    .trans_center
      img(src='img/iphone_ok.png')
      |                 
      p
        | 請將裝置轉至直式
        br
        | 體驗最佳瀏覽方式
