// for website grid system or section width and height.
@charset "UTF-8";
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

html,
body {
    @extend %all-100;
    @extend %fw_r;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', 'PingFang TC', 'Heiti TC', 'Apple LiGothic Medium', 'Microsoft JhengHei', sans-serif;
    min-width: 314px;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #222222;
    -ms-text-size-adjust: 100%;
    background: $bg;
    overflow-x: hidden; // cursor: url("../img/arrow.png"), url("../img/arrow.ico"), e-resize;
}

* {
    @include box-sizing(border-box);
    outline: none;
}

*:focus {
    outline: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    behavior: expression(this.onFocus=this.blur());
    display: inline-block;
    /* for IE */
}

ul {
    font-size: 0;
}

#{headings()} {
    font-weight: 700;
    letter-spacing: 1px;
}

button {
    -webkit-backface-visibility: hidden;
    border: 0;
    background: transparent;
    height: 100%;
}

input {
    -webkit-appearance: none;
}