@import "compass/css3";
@import "color";
// mixin
@import "mixin";
@import "typography";
body {
    height: auto;
}

.wrap {
    position: relative;
    height: 100%;
    z-index: 1;
    .gift {
        @media screen and (min-width: 1200px) and (min-height: 801px) {
            padding-top: 10%;
        }
    }
    .main {
        .sub {
            @media screen and (max-width: 767px) {
                margin-bottom: 15px;
                margin-top: 5px;
            }
            @media screen and (max-width: 374px) {
                margin-bottom: 2px;
            }
        }
    }
}

.wrap-h {
    height: auto;
    overflow: scroll;
}

.recordBox {
    background: #d8d8d8;
    border-radius: 25px;
    padding: 5px 15px;
    color: $gray;
    font-size: 1.3rem;
    margin-right: 10px;
}

.giftItem {
    color: $coke;
    font-size: 1.8rem;
    @extend %fw_b;
    span {
        display: inline-block;
        vertical-align: middle;
    }
    .icon-coke {
        padding-top: 2px;
        @media screen and (max-width: 374px) {
            padding-top: 1px;
        }
    }
    .limit {
        font-size: 1.3rem;
        color: #222222;
        @extend %fw_r;
        margin-top: 10px;
        @media screen and (min-width: 375px) and (max-width:767px) {
            margin-bottom: 5px;
        }
        @media screen and (max-width:374px) {
            margin-top: 7px;
        }
    }
    .img {
        width: 70%;
        max-width: 350px;
        margin: 20px auto 0;
        transition: all .3s ease;
        @media screen and (min-height: 801px) {
            margin-top: 50px;
        }
        @media screen and (max-height: 730px) {
            width: 300px;
        }
        @media screen and (max-width:767px) {
            width: 76%;
            margin-top: 35px;
        }
        @media screen and (max-width:413px) {
            margin-top: 6px;
        }
        @media screen and (max-width:374px) {
            margin-top: 5px;
            width: 70%;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            margin-top: 30px;
        }
    }
    .salad {
        width: 43%;
        @media screen and (min-height: 880px) {
            margin-top: 80px;
        }
        @media screen and (min-height: 801px) and (max-height: 879px) {
            margin-top: 50px;
        }
        @media screen and (max-width:1440px) {
            width: 40%;
        }
        @media screen and (max-width:767px) {
            width: 58%;
            margin-top: 40px;
        }
        @media screen and (max-width:413px) {
            width: 60%;
            margin-top: 15px;
        }
        @media screen and (max-width:374px) {
            margin-top: 0;
            width: 55%;
        }
    }
    .pot-s {
        text-align: right;
        width: 60%;
        max-width: 360px;
        @media screen and (min-height: 880px) {
            margin-top: 135px;
        }
        @media screen and (min-height: 801px) and (max-height: 879px) {
            margin-top: 85px;
        }
        @media screen and (max-width:767px) {
            width: 85%;
            margin-top: 66px;
        }
        @media screen and (max-width:413px) {
            margin-top: 35px;
        }
        @media screen and (max-width:374px) {
            margin-top: 18px;
            width: 80%;
        }
        img {
            width: 85%;
            display: inline;
        }
    }
    .bowl {
        width: 55%;
        max-width: 360px;
        margin: 0 auto 0;
        @media screen and (min-height: 880px) {
            margin-top: 50px;
        } // @media screen and (min-height: 801px) and (max-height: 879px) {
        //     margin-top: 90px;
        // }
        @media screen and (max-width:767px) {
            width: 85%;
            margin-top: 20px;
        }
        @media screen and (max-width:413px) {
            margin-top: 10px;
            width: 80%;
        }
        @media screen and (max-width:374px) {
            margin-top: 0;
            width: 70%;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            margin-top: 50px;
            width: 58%;
        } // @media screen and (max-device-width:374px) {
        //     margin-top: 0;
        // }
    }
}

.btn_info {
    width: 150px;
    @media screen and (min-height: 801px) {
        margin-top: 30px;
    }
    @media screen and (max-height: 730px) {
        margin-top: 25px;
    }
    @media screen and (max-width:767px) {
        margin-top: 10px;
    }
}

.cir-bg {
    width: 5000px;
    height: 5000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
    @media screen and (max-width: 1650px) {
        width: 4000px;
        height: 4000px;
    }
    @media screen and (min-width: 851px) and (max-width: 1200px) {
        width: 3000px;
        height: 3000px;
        transform: translate(-50%, 6%);
    }
    @media screen and (max-width: 850px) {
        width: 3000px;
        height: 3000px;
    }
    @media screen and (max-width: 767px) {
        width: 1400px;
        height: 1400px;
        transform: translate(-50%, 7%);
    }
    @media screen and (max-width: 650px) {
        width: 1200px;
        height: 1200px;
    }
    @media screen and (max-width: 550px) {
        width: 900px;
        height: 900px;
        transform: translate(-50%, 2%);
    }
    @media screen and (max-width: 400px) {
        transform: translate(-50%, -10%);
    }
    @media screen and (max-device-width: 767px) {
        transform: translate(-50%, 20%);
    }
    @media screen and (max-device-width: 374px) {
        transform: translate(-50%, 16%);
    }
}

.arrowbox {
    width: 500px;
    top: 62%;
    @media screen and (min-width: 1600px) {
        top: 68%;
    }
    @media only screen and (max-height: 850px) {
        top: 74%;
    }
    @media screen and (max-width: 850px) {
        top: 61%;
    }
    @media screen and (max-width:767px) {
        top: 55%;
    }
    @media screen and (max-width: 650px) {
        top: 56%;
    }
    @media screen and (max-width: 550px) {
        top: 50%;
        width: 90%;
    }
    @media screen and (max-width: 400px) {
        top: 37%;
    }
    @media screen and (max-device-width:767px) {
        top: 77%;
    }
}

.arrow-giftBox {
    top: 36%;
    @media screen and (max-width: 767px) {
        top: 200px;
    }
    @media screen and (max-width:413px) {
        top: 190px;
    }
    @media screen and (max-width:374px) {
        top: 170px;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        top: 33%;
    }
}

.giftBox {
    position: relative;
    .red {
        color: $coke;
        font-size: 1.8rem;
        @media screen and (max-width: 374px) {
            font-size: 1.5rem;
        }
    }
    .plus {
        margin: 0 5px;
    }
    .codeBox {
        width: 100%;
        background-color: #f2f2f2;
        padding: 15px;
        margin: 15px 0;
        p {
            font-size: 1.6rem;
            &.code {
                color: $coke;
                font-size: 2.5rem;
                @extend %fw_m;
            }
        }
    }
    .cost {
        position: relative;
        span {
            &:last-child {
                margin-left: 5px;
            }
        }
        .left {
            position: absolute;
            left: 0;
            bottom: -20px;
            width: 100%;
            color: $l-gray;
            span {
                color: #222222;
            }
        }
    }
    .ps {
        font-size: 1.3rem;
        letter-spacing: 1.6px;
        color: #888888;
        @extend %txt_justify;
        margin: 10px 0;
    }
}

.giftItem-detail {
    p {
        margin-top: 10px;
    }
    .img {
        width: 250px;
        @media screen and (max-width: 767px) {
            width: 45%;
            margin-top: 20px;
        }
    }
    .gift-bowl {
        @media screen and (max-width: 767px) {
            width: 54%;
            padding-top: 3%;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            margin-top: 80px;
        }
    }
    .gift-pot-s {
        text-align: right;
        width: 48%;
        padding-top: 20px;
        img {
            width: 95%;
            display: inline-block;
        }
    }
    .gift-salad {
        width: 230px;
        @media screen and (max-width: 767px) {
            width: 45%;
        }
    }
    .gift-info {
        margin-top: 10px;
        li {
            font-size: 1.3rem;
            text-align: left;
            @extend %fw_r;
            color: #222222;
            display: flex;
            justify-content: space-between;
            align-items: center;
            letter-spacing: 1px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .total {
        color: $l-gray;
        margin-left: 5px;
    }
}

.selection {
    margin: 15px 0 30px;
    font-size: 0;
}

.option {
    width: 50%;
    display: inline-block;
    @media screen and (max-width: 413px) {
        width: 52%;
    }
    &:first-child {
        @media screen and (max-width: 413px) {
            width:48%;
        }
    }
    .cost {
        text-align: left;
        width: calc(100% - 34px);
    }
}

.btn_gift {
    margin-top: 0px;
}

.pointBox_detail {
    width: 130%;
    background-color: #f2f2f2;
    padding: 15px 0;
    margin: 20px -15% 15px;
    color: $coke;
    ul {
        font-size: 0;
        li {
            font-size: 1.8rem;
            display: inline-block;
            margin: 0 10px;
            span {
                display: block;
                color: #222222;
                font-size: 1.3rem;
                &.point {
                    font-size: 1.8rem;
                    color: $coke;
                    letter-spacing: 2px;
                }
            }
            &:nth-child(2),
            &:nth-child(4) {
                color: #222222;
            }
        }
    }
    p {
        font-size: 1.8rem;
        @extend %fw_m;
        padding: 9px 0;
    }
}

// gift-guest
.main-guest {
    .selection,
    .btn_gift,
    .pointBox_detail {
        display: none;
    }
    .giftItem-detail {
        .img {
            width: 300px;
            @media screen and (max-width: 767px) {
                width: 65%;
                margin-top: 15px;
                height: 210px;
            }
            @media screen and (max-width: 413px) {
                height: 180px;
            }
            @media screen and (max-width: 374px) {
                height: 160px;
                width: 65%;
            }
        }
        .gift-bowl {
            // padding-top: 10%;
            // @media screen and (max-width: 374px) {
            //     padding-top: 10%;
            // }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                margin-top: 40px;
            }
        }

        .gift-salad {
            width: 235px;
            @media screen and (max-width: 767px) {
                width: 56%;
                padding-top: 3%;
            }
        }
        .gift-pot-s {
            padding-top: 30px;
            @media screen and (max-width: 767px) {
                padding-top: 13%;
            }
        }
    }
    .arrow-giftBox {
        top: 47%; // top: 33%;
        @media screen and (max-height: 750px) {
            top: 45%;
        }
        @media screen and (max-width: 767px) {
            top: 40%;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            top: 47%;
        }
    }
    .gift-info {
        margin-bottom: 10px;
    }
}