@import "compass/css3";
@import "color";
// mixin
@import "mixin";
@import "typography";

.succeed {
    font-size: 1.5rem;

    .btn_sBox {
        margin-top: 70px;
        .btn_s {
            margin-bottom: 0;
            &:first-child {
                margin-right: 2%;
            }
        }
    }
    li {
        padding-left: 20px;
        &:before {
            content: "";
            @include cir(8px);
            background: $coke;
            left: 3px;
            top: 8px;
            display: inline-block;
            position: absolute;
        }
    }
}

.txt {
    margin-bottom: 20px;
    @extend %txt_justify;
    a {
        color: #222222;
        text-decoration: underline;
    }
}

.sub_tt {
    color: $coke;
    @extend %fw_m;
    margin-bottom: 10px;
    text-align: left;
}

section {
    text-align: left;
    margin: 20px 0;
    font-size: 1.5rem;
    li {
        position: relative;
        font-size: 1.5rem;
        span {
            display: block;
        }
        .txt {
            a {
                color: $coke;
                text-decoration: none;
            }
        }
    }
}

.notice {
    section {
        ul {
            li {
                list-style-type: decimal;
                margin-left: 25px;
                margin-top: 20px;
            }
        }
        .flow {
            margin-bottom: 60px;
            position: relative;

            &:not(:last-child) {
                .iconBox {
                    &:after {
                        content: url(../asset/svg/arrow.svg);
                        width: 20px;
                        display: inline-block;
                        position: absolute;
                        bottom: -42px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
            &:nth-child(2) {
                margin-top: 20px;
            }
        }
    }
}

.iconBox {
    @include cir(90px);
    background: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin-right: 30px;
    @media only screen and (max-width: 413px) {
        width: 80px;
        height: 80px;
        margin-right: 19px;
    }
    @media only screen and (max-width: 374px) {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
}

.icon {
    @extend %pos-mid;
    @media only screen and (max-width: 413px) {
        transform:translate(-50%, -50%) scale(0.8);
    }
    @media only screen and (max-width: 374px) {
        transform: translate(-50%, -50%) scale(0.6);
    }
}

.step {
    // width: 78%;
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
    padding-right: 5px;
    @media only screen and (max-width: 374px) {
        font-size: 1.4rem;
    }
    span {
        display: block;
        text-align: left;
        &:first-child {
            color: $coke;
            @extend %fw_m;
        }
    }
}

.icon1 {
    width: 20px;
}

.icon2 {
    width: 55px;
}

.icon3 {
    width: 60px;
}

.icon4 {
    width: 50px;
}

.icon5 {
    width: 55px;
}

.product {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.img {
    margin: auto;
}

.p1,.p2 {
    width: 150px;
}


.p3 {
    width: 300px;
}

.p4 {
    width: 60px;
}

.p5 {
    width: 150px;
}

.p6 {
    width: 300px;
}

.p7 {
    width: 300px;
}

.pro_pic {
    margin: 20px auto;
    @media only screen and (max-width: 374px) {
        transform:scale(0.8);
    }
}

.pot {
    width: 235px;
}

.bowl {
    width: 245px;
}

.pot-s {
    text-align: right;
    width: 300px;
    @media only screen and (max-width: 767px) {
        width: 270px;   
    }
    img {
        width: 80%;
        display: inline;
        @media only screen and (max-width: 767px) {
          width: 82%;
        }
        @media only screen and (max-width: 374px) {
          width: 95%;
        }
    }
}

.salad {
    width: 220px;
    padding-right: 30px;
}