extends ./include/layout
block own_style
    link(rel = 'stylesheet', href = 'css/account.css')
block pointBox
block outside
  .lightbox(style='display: none;')
    .lightbox_outter
      a.btn-lightbox(href="#")
        span.icon-close 
      .main
        h2
          span.icon-tt-oops
        |                 
        p
          | 很抱歉，您目前不符合
          br
          | 本活動之參與資格!
        p(style='display: none;') 請確認您已同意本活動隱私權政策
block content
  .wrap
    .main
        .tt 
          <span class="icon-tt_form"></span>
        p.sub 請填入正確資訊
        // form
        .form
          ul
            li
              label 姓名
              a.del_pos(style='display: none;')
                span.icon-del
              input#user-name.warn(type='text', maxlength='5', placeholder='請填寫真實姓名')
            | 
            li
              label E-mail
              a.del_pos(style='display: none;')
                span.icon-del
              input#user-email(type='email', maxlength='50', placeholder='避免使用易漏信之免費信箱')
            |                          
            li.bdBox
              label 生日
              |                             
              .selectStyle
                ul
                  li.selectBox.year
                    select.year
                      option(value='0') YYYY
                      option(value='1') 2016
                      option(value='2') 2015
                  |                                     
                  li 年
                  |                                     
                  li.selectBox
                    select
                      option(value='0') MM
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='4') 4
                      option(value='5') 5
                      option(value='6') 6
                      option(value='7') 7
                      option(value='8') 8
                      option(value='9') 9
                      option(value='10') 10
                      option(value='11') 11
                      option(value='12') 12
                  |                                     
                  li 月
                  |                                     
                  li.selectBox
                    select
                      option(value='0') DD
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='4') 4
                      option(value='5') 5
                      option(value='6') 6
                      option(value='7') 7
                      option(value='8') 8
                      option(value='9') 9
                      option(value='10') 10
                      option(value='11') 11
                      option(value='12') 12
                      option(value='13') 13
                      option(value='14') 14
                      option(value='15') 15
                      option(value='16') 16
                      option(value='17') 17
                      option(value='18') 18
                      option(value='19') 19
                      option(value='20') 20
                      option(value='21') 21
                      option(value='22') 22
                      option(value='23') 23
                      option(value='24') 24
                      option(value='25') 25
                      option(value='26') 26
                      option(value='27') 27
                      option(value='28') 28
                      option(value='29') 29
                      option(value='30') 30
                      option(value='30') 31
                  |                                     
                  li 日
            | 
            li
              label 設定密碼
              a.del_pos(style='display: none;')
                span.icon-del
              input#password(type='password', maxlength='12', placeholder='請輸入您的密碼')
            | 
            li
              label 確認密碼
              a.del_pos(style='display: none;')
                span.icon-del
              input#password(type='password', maxlength='12', placeholder='請再次輸入您的密碼')
            
            | 
            li.check_area
              .checkbox
                input#checkboxInput(type='checkbox', value='1', name='')
                |                                 
                label(for='checkboxInput')
              |                             
              p
                | 我已詳閱並同意本活動
                a(href='privacy.html', target='_blank') 隱私權政策
            |                         
            li.check_area
              .checkbox
                input#checkboxInput(type='checkbox', value='1', name='')
                |                                 
                label(for='checkboxInput')
              |                             
              p 同意提供個資作中獎公告與聯繫使用
            | 
            li.robotBox
              span.robot
                #recaptcha_container
                  #reCaptchaBox.g-recaptcha(data-sitekey='')

        //- btn
        a.r_bg(href="addpoint.html") 
          span 確認送出

    
    

    
    

