.bur_box_index.bur_box_inside
    .bur(tabindex='1')
        .burger-brick
        |                 
        .burger-brick.middle
        |                 
        .burger-brick
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='js/vendor/bur_in.js')