- var pagetitle="Coca-cola 食尚餐廚集點送"

meta(charset = 'UTF-8')
meta(http - equiv = 'x-ua-compatible', content = 'ie=edge')
title #{pagetitle}
// facebook share
meta(property = 'og:type', content = 'website')
meta(property = 'og:title', content = '#{pagetitle}')
meta(property = 'og:description', content = '')
meta(property = 'og:image', content = '')
meta(property = 'og:site_name', content = '可口可樂®')
meta(property = 'og:url', content = 'https://www.coca-cola.com.tw/')
meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
// favicon
link(rel = 'icon', href = 'img/favicon.ico')
// css style
link(rel = 'stylesheet', href = 'css/style.css')
//if gt IE 9
script(src = 'js/vendor/html5shiv.js')
script(src = 'js/vendor/jquery-3.2.1.min.js')